html, body{
  margin-left: 10px;
  margin-right: 10px;
  padding: 0;
  box-sizing: border-box;
}


.container {
  display: flex;
  gap: 20px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.map-container {
  flex: 1.3;
  position: relative;
}

#world-map{
    width: 100%;
    max-height: 400px;
}

.info-container {
  flex: 0.7;
}

.stats-card {
  display: none;
}

.stats-card.active {
  display: block;
  background-color: #f0f0f0;
  border: 2px solid #333;
  padding: 10px;
  border-radius: 8px;
}

#cards{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.flip-card{
  width: 100%;
  height: 125px;
  display: block;
  border: 2px solid black;
  border-radius: 15px;
}

.flip-card-front{
  display: block;
  font-size: 30px;
  text-align: center;
  padding: 15px;
}

.flip-card-back{
  display: none;
}

.flip-card:hover .flip-card-front{
  display: none;
}

.flip-card:hover .flip-card-back{
  display: block;
  padding: 15px;
}

#ocean-scroll{
  position: relative;
  height: 7214px;
  width: 100vw;
  background: linear-gradient(to bottom, #00c3ff, #000022);
  overflow-x: hidden;
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 0px;
  padding-right: 0px;
  margin-top: 30px;
}

.zone, .landmark{
  position: absolute;
  width: 100%;
  text-align: center;
  color: yellow;
}

.line{
  border-bottom: 2px solid yellow;
  width: 100%;
}

.line-text{
  margin-top: 5px;
}

#barcharts{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

#barcharts canvas{
  width: 100% !important;
  height: 400px !important;
  display: block;
}

#timelinediv canvas{
  width: 100% !important;
  height: auto !important;
  display: block;
}

#page-title{
  text-align: center;
}

.section-title{
  text-align: center;
}